%body
  %form{method: :post}
    %input{name: :title, placeholder: 'New item', required: true}
    %input{type: :submit, value: 'Add'}
  %table
    %thead
      %tr
        %th Title
        %th Done
        %th
    %tbody
      -@todos.each do |t|
        %tr
          %td= t.title
          %td
            %input{type: :checkbox, name: :done, value: t.done}
          %td
            %form{method: :post, action: url("/#{t.id}/delete")}
              %input{type: :submit, value: 'Delete'}
      
